@model ICoche

<h1> Dependencia </h1>

<h1> @Model.Marca , @Model.Modelo</h1>

<img src="~/images/@Model.Imagen" style="width :500px; height: 300px" />

<h2> Velocidad Actual : @Model.Velocidad</h2>

<h2> Velocidad Maxima : @Model.VelocidadMaxima</h2>

<form method="post">
    <button name="accion" value ="acelerar" class="btn btn-dark"> 
        Acelerar
        </button>

    <button name="accion" value="frenar" class="btn btn-dark">
        Frenar
    </button>


</form>


